body {
    margin: 0;
}

.bar_nav {
    background-color: #04BFAD;
    border-bottom: solid 1px;
    border-color: #8f8f8f;
    display: flex;
    align-items: center;
    width: 100% auto;
    height: 8vh;
    margin: 0;
    flex-direction: row;
}

span.titulo {
    color: #ffffff;
    font-size: 18px;
    margin: 0px;
    margin-right: 120px;
}

.titulo2 {
    font-size: 18px;
}

span.Marca {
    color: #ffffff;
    font-size: 30px;
    margin: 0px;
    margin-left: 50px;
}

span.derecha {
    
    float: right;
    color: #ffffff;
    
}

.alinear {
    width: 80%;

}

.alinear2 {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.alinear3 {
    width: 5%;
}


.col {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.col-s-1 {
    width: 30%;
    background: #444753;
    height: 92vh;
    display: flex;
    flex-direction: row;
    
}

.col-s-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

columna_contactos {
    background: #444753;
}

espacio {
    margin: 0px;
    margin-left: 50px;
}

wh {
    color: #ffffff;
}

.filas {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

col-3 {
    width:10%;
}

col-l {
    width: 100%;
    
}

col-c {
    width: 30%;
}

pesta {
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pestana-button {
    margin: 0;
    margin-top: 17vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    height: 200px;
    background: #444753;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.contenedor {
    background: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    box-shadow: 2px 2px 10px #666;
}

.contenedor2 {
    background: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    position: fixed;
    top: 8vh;
    right: 0;
    z-index: 999;
    box-shadow: 2px 2px 10px #666;
}

 
.contenedor ul {
        list-style: none;
    }

    .contenedor ul li {
        margin-bottom:20px;
        
    }
    .contenedor ul li a {
        text-decoration:none;
        color: #000000;
        font-size: 20px;
    }

    .contenedor2 ul {
        list-style: none;
    }

    .contenedor2 ul li {
        margin-bottom:20px;
        
    }
    .contenedor2 ul li a {
        text-decoration:none;
        color: #000000;
        font-size: 20px;
    }

chat {
    margin: 30px auto;
    padding: 0;
    width: 100%;
    max-width: 340px;
    height: auto;
    position: fixed;
    right: 15px;
    z-index: 999;
}

#datos-chat {
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #038C5A;
    font-weight: bold;
    font-family: 'Mukta Vaani', sans-serif;
    font-size:15px;
}

.envio {
    background: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-color: #000000;
    width: 95%;
    box-shadow: 2px 2px 10px #666;
    
    
}

.cuerpo {
    height:78vh; 
    overflow:auto;
}
    .envio form textarea {
        margin-left:-5px;
        width: 30%;
        height: 40px;
        border: none;
        font-size: 20px;
    }

.envio form span {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.buscador {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 10px #666;
}

    .buscador form {
        height: 8vh;
        width: inherit;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .buscador form input{
        height: 8vh;
        width: inherit;
        border:none;
        font-size: 30px;
    }

#historieta {
    margin: 0;
    margin-left:-10px;
    padding:0;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left: 17px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 25px;
}

    #historieta:before {
        content: "";
        position: absolute;
        top: 6px;
        left: -8.5px;
        width: 0px;
        height: 0px;
        border-top: 8px solid red;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        transform: rotate(180deg);
        margin:0;
    }

    #historieta span {
        color: #ffffff;
        margin: 0;
        font-size: 10px;
    }

al {
    display: flex;
    align-items: center;
    width: 100% auto;
    margin: 0;
    flex-direction: row;
}

.fondo {
    height:100vh;
    background: rgba(4,191,173,1);
    background: -moz-linear-gradient(left, rgba(4,191,173,1) 0%, rgba(2,81,89,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,191,173,1)), color-stop(100%, rgba(2,81,89,1)));
    background: -webkit-linear-gradient(left, rgba(4,191,173,1) 0%, rgba(2,81,89,1) 100%);
    background: -o-linear-gradient(left, rgba(4,191,173,1) 0%, rgba(2,81,89,1) 100%);
    background: -ms-linear-gradient(left, rgba(4,191,173,1) 0%, rgba(2,81,89,1) 100%);
    background: linear-gradient(to right, rgba(4,191,173,1) 0%, rgba(2,81,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04bfad', endColorstr='#025159', GradientType=1 );
}

.encabezado {
    height:40vh;
    bottom:0;
  
}

.empresa {
    display:none;
    font-size:40px;
    color: #ffffff;
}

.logo {
    display: block;
    width: 70vw;
}

.logoEstatico {
    display: none;
    
}

.espacio2 {
    height: 10vh;
}

.formulario {
    margin-top:20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .formulario input {
        margin: 30px;
        width: 50%;
        height: 5vh;
        font-size: 20px;
        border-radius: 20px;
        outline: none;
        padding-left: 15px
    }

.formulario2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .formulario2 input {
        margin: 30px;
        width: 70%;
        height: 5vh;
        font-size: 20px;
        border-radius: 20px;
    }

    .formulario2 select {
        margin: 30px;
        width: 70%;
        height: 5vh;
        font-size: 15px;
        border-radius: 20px;
    }

.boton {
    background: #04BFAD;
    color: #ffffff;
    font-size: 30px;
}

.enlace {
    font-size: 20px;
    text-decoration-line:none;
    color: rgba(2,81,89,1);
}

    .enlace:hover {
        color: #ffffff;
    }

@media only screen and (max-height: 600px) {
    /* For tablets: */

    .fondo {
        height: 100vh;
    }
    .empresa {
        display: block;
    }

    .logo {
        display: none;
    }

    .logoEstatico {
        display: block;
    }

    .formulario input {
        height: 8vh;
        margin: 15px;
    }

    .formulario {
        margin-top: 40px;
    }

}

.imgRedonda {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    border: 10px solid #04BFAD;
    box-shadow: 2px 2px 10px #666;
}

.portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 160px;
}

    .portfolio-link .portfolio-hover {
        position: absolute;
        margin-left:40px;
        width: 80%;
        height: 100%;
        border-radius: 160px;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: rgba(4, 191, 173, 0.9);
    }

.portfolio-link .portfolio-hover:hover {
            opacity: 1;
        }

.portfolio-link .portfolio-hover .portfolio-hover-content {
            font-size: 20px;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 20px;
            margin-top: -12px;
            text-align: center;
            color: white;
        }

.portfolio-link .portfolio-hover .portfolio-hover-content i {
                margin-top: -12px;
            }

.camara {
    margin-left: -15px;
    background: #ffffff;
    margin-top: -70px;
    position: absolute;
    border-radius: 5px;
}

.fotoPerfil {
    background: rgba(68, 71, 83, 0.7);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-color: #000000;
    width: 100%;
    height: 62%;
    box-shadow: 2px 2px 10px #666;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.bodyH {
    height:100vh;
}

.avatares {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height:30%;
}

.img32 {
    margin:20px;
    width: 128px;
    height: 128px;
    border-radius: 160px;
    border: 10px solid #04BFAD;
    box-shadow: 2px 2px 10px #666;
}

.img128 {
    margin: 20px;
    width: 128px;
    height: 128px;
    box-shadow: 2px 2px 10px #666;
}

.adjuntarDiv {
    background: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-color: #000000;
    width: 90%;
    height: 20%;
    box-shadow: 2px 2px 10px #666;
    margin-left: 5vw;
    position: fixed;
    bottom: 70px;
    overflow-y: scroll;
}

.adjuntarDiv2 {
    background: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-color: #000000;
    width: 90%;
    height: 20%;
    box-shadow: 2px 2px 10px #666;
    margin-left: 5vw;
    position: fixed;
    bottom: 70px;
    overflow-y: scroll;
}

.scroll {
    overflow-y: scroll;
    
}

.adjuntarIcons {
    margin-top:8%;
    margin-left: 8%;
    margin-right: 9%;
}

.adjuntarIcons2 {
    margin-top: 8%;
    margin-left: 10.5%;
    margin-right: 10.5%;
}

.texto {
    font-size:30px;
}

.icon_puntos {
    background-image: url("fontAwesome/ellipsis-v-solid.svg");
    background-repeat: no-repeat;
    margin:8px;
}

.icon_buscar {
    background-image: url("fontAwesome/search-solid.svg");
    background-size:20px;
    margin: 8px;
    width:20px;
    height:20px;
}

.icon_usuario0 {
    background-image: url("fontAwesome/user-circle-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 35px;
    height: 20px;
}

.icon_usuario {
    background-image: url("fontAwesome/user-circle-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 35px;
    height: 20px;
}

.usuario {
    background-repeat: no-repeat;
    background-size: 20px;
    width: 35px;
    height: 20px;
}

.icon_usuario1 {
    background-image: url("fontAwesome/user-circle-solid1.svg");
    
}

.icon_usuario2 {
    background-image: url("fontAwesome/user-circle-solid2.svg");
    ;
}

.icon_usuario3 {
    background-image: url("fontAwesome/user-circle-solid3.svg");
    
}

.icon_usuario4 {
    background-image: url("fontAwesome/user-circle-solid4.svg");
    
}

.icon_usuario5 {
    background-image: url("fontAwesome/user-circle-solid5.svg");
    
}

.icon_usuario6 {
    background-image: url("fontAwesome/user-circle-solid6.svg");
}

.icon_usuario7 {
    background-image: url("fontAwesome/user-circle-solid7.svg");
}

.icon_usuario8 {
    background-image: url("fontAwesome/user-circle-solid8.svg");
}

.icon_usuario9 {
    background-image: url("fontAwesome/user-circle-solid9.svg");
}


.icon_email {
    background-image: url("fontAwesome/envelope-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 8px;
    width: 30px;
    height: 20px;
}

.icon_emoticon {
   float:left;
    background-image: url("fontAwesome/smile-regular.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 25px;
    
}

.icon_clip {
    background-image: url("fontAwesome/paperclip-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 25px;
    fill:red;
}

.path {
    fill: red;
    
}

.icon_camera-retro {
    background-image: url("fontAwesome/camera-retro-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 25px;
}

.icon_camera-retro2 {
    background-image: url("fontAwesome/camera-retro-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_send {
    background-image: url("fontAwesome/paper-plane-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 25px;
}

.icon_documento {
    background-image: url("fontAwesome/file-alt-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_audio {
    background-image: url("fontAwesome/file-audio-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_imagen {
    background-image: url("fontAwesome/file-image-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_mapa {
    background-image: url("fontAwesome/map-marked-alt-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_usuario {
    background-image: url("fontAwesome/user-tie-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}

.icon_flecha-izq {
    background-image: url("fontAwesome/arrow-left-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50px;
    height: 40px;
    float: left;
}







.font12 {
    font-size: 8px;
}

.margen {
    margin-left:5vh;
}
@media only screen and (max-width: 998px) and (orientation: landscape) {
    .pestana-button {
        
        margin-top: 43vh;
        
    }

    .cuerpo {
        height: 70vh;
        overflow: auto;
    }

    .envio form textarea {
        width: 60%;
    }

    .adjuntarDiv2 {
        margin-left: 10vh;
    }

    .adjuntarDiv {
        margin-left: 10vh;
    }

    .adjuntarIcons {
        margin-top: 3%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .logoEstatico {
        display: block;
        width:150px;
    }

    .formulario {
        margin-top: 10px;
    }

    }

@media only screen and (max-height: 200px) and (orientation: landscape) {
    .buscador {
        height: 24vh;
    }

        .buscador form input {
            margin-top:16vh;
            height: 24vh;
        }

    .icon_flecha-izq {
        margin-top: 16vh;
    }

    .bar_nav {
        height: 16vh;
    }

    
}

.font10 {
    font-size:10px;

}





